@font-face
	font-family: 'Nunito'
	src: url('../fonts/Nunito/Nunito-Regular.ttf')

body 
	margin: 0
	padding: 0

*
	box-sizing: border-box
	text-decoration: none
	user-select: none
	transition: all .45s linear
	font-family: 'Nunito', open-sans

a, a:active
	user-select: none
