@font-face
	font-family: 'Nunito'
	src: url('../fonts/Nunito/Nunito-Regular.ttf')

body 
	margin: 0
	padding: 0

*
	box-sizing: border-box
	text-decoration: none
	user-select: none
	transition: all .45s linear
	font-family: 'Nunito', open-sans

* p
	margin: 0
	padding: 0
	display: inline !important

h1, h2, h3, h4, h5, h6
	font-size: inherit 
	display: inline !important


a, a:active
	user-select: none
