$color_main1: #3a7d87

$color_white: #fff
$color_black: #000

$h-color1: #fff
$h_color2: #e4edaa
$h-color3: #f7f7f7
$h-color4: #e02a2a

@mixin flex($direct, $just, $align)
	display: flex
	flex-direction: $direct
	justify-content: $just
	align-items: $align

.page
	@include flex(row, flex-start, center)
	width: 100% 
	z-index: 1000
	position: relative
	flex-shrink: 0
	transition: 0s

	&__paginator
		@include flex(row, center, center)
		margin-top: 30px
		margin-bottom: 30px

		& > button:not([class="page__arrow-slide-page"])
			background-color: transparent
			border: 0
			font-size: 25px
			color: rgba(0, 0, 0, 1)
			margin: 0 5px
			z-index: 100000

			& > img
				z-index: 1 
	
	&__arrow-slide-page
		@include flex(column, center, center)
		width: 38px
		height: 38px
		border: 0
		background: transparent

		& > img
			width: 32px

		&:first-child
			margin-right: 25px

		&:last-child
			margin-left: 25px
			transform: rotate(180deg)

	&__content
		@include flex(column, center, center)
		width: 100%
		height: 100%

	&__text
		color: $color_white
		text-transform: uppercase
		font-size: 3em

	&__text-anim-element
		height: 0
		opacity: 0
		font-size: .35em

	&__button-back
		position: absolute
		top: 15px
		left: 5px
		border: 0
		background-color: transparent

		img
			width: 34px
			height: 34px

	&__aside-menu
		@include flex(column, flex-start, center)
		height: 100%
		width: 0px
		background: $color_main1
		overflow-y: auto
		overflow-x: hidden
		z-index: 1000
		transition: .25s ease-in-out !important

		ul 
			@include flex(column, flex-start, center)
			list-style-type: none
			padding: 0
			margin: 0
			width: 100%
			height: inherit

		a 
			@include flex(row, center, center)
			flex-shrink: 0
			height: 66px
			width: inherit
			text-align: center
			text-transform: uppercase
			font-size: 1.1em
			color: $color_white
			z-index: 1000
			transition: .25s ease-in-out

		li
			@include flex(row, center, center)
			background: transparent !important

		a:hover
			background: $h-color1 !important
			color: $color_black
		a:hover li 
			transform: translateX(10px)

	&__text:hover &__text-anim-element
		height: 100%
		opacity: 1

	&__post-list
		@include flex(row, flex-start, none)
		align-content: flex-start
		flex-wrap: wrap
		width: 100%
		padding-top: 50px

	&__post-block
		@include flex(column, flex-start, flex-start)
		width: 355px
		height: 355px
		margin: 0 5px
		margin-bottom: 10px
		overflow: hidden
		border-bottom: 2px solid transparent

		&:hover .page__animate-image .page__post-block-background
			transform: scale(1.3)
	
		&:hover
			border-color: $color_main1

		div
			@include flex(column, flex-start, flex-start)
			z-index: 1000

		div:first-child
			width: inherit
			height: 250px
			overflow: hidden
			
			div
				position: relative

			img 
				width: 100%
				height: 100%

		div:last-child
			a, span:last-child
				padding-top: 5px

			a:first-child
				font-size: 1.3em

				span
					color: $color_black

			span:last-child
				font-size: .9em

	&__no-search-msg
		font-size: 1.9em

	&__counter-posts
		position: absolute
		left: 5px
		top: -10px
		font-size: 1.4em

	&__navigation-reg
		@include flex(row, center, center)
		margin-top: 25px
		position: relative			

		a:first-child
			width: 60px
			height: 60px
			background: url('../image/icons/add-user.svg')
			background-repeat: no-repeat
			background-position: center
			background-size: 50px
			margin-right: 5px

		a:last-child
			width: 60px
			height: 60px
			background: url('../image/icons/in.png')
			background-repeat: no-repeat
			background-position: center
			background-size: 50px
			margin-left: 5px

		&:after
			content: ''
			position: absolute
			bottom: 0
			width: 60px
			height: 2px
			background: $h-color1

	&__out-index-page 
		@include flex(row, center, center)
		margin-bottom: 15px
		
		a
			@include flex(row, center, center)
			width: 60px
			height: 60px
			font-size: 25px
			color: $color_white
			border: 1px solid $color_white
			border-radius: 100%
			text-transform: uppercase
			

	&__article-panel
		@include flex(row, center, flex-start)
		width: inherit
		padding-top: 30px

		div 
			width: 426px

		div:nth-child(1)
			@include flex(column, center, center)
			padding-top: 40px
			& > div:first-child
				@include flex(column, center, flex-start)
				background-color: $color_main1
				color: $color-white
				width: 230px
				padding-top: 20px
				padding-bottom: 20px
				border-radius: 15px
				padding-left: 30px

				span
					margin: 5px 0px

		div:nth-child(2)
			@include flex(column, center, flex-start)
			width: 900px
			font-size: 1.5em
			word-wrap: break-word

			span:first-child
				border-bottom: 1px solid black
				margin-bottom: 20px
				word-wrap: break-word
				font-size: 45px !important

				h1 
					word-wrap: break-word

			span
				display: block
				margin-bottom: 35px


.sidebar
	@include flex(column, flex-end, center)
	width: 100px
	height: 100%
	box-shadow: 3px 0 20px rgba($color_black, .2)
	position: relative
	background: $h-color1
	flex-shrink: 0
	transition: .25s linear !important

	&__button
		width: 54px
		height: 54px
		border: 1px solid $color_black
		border-radius: 100%
		margin: -20px 0
		transition: 0s

		&:nth-child(1)
			background: url('../image/icons/menu.svg')
			background-size: 30px
			background-repeat: no-repeat
			background-position: center
			margin-bottom: 30px
		&:nth-child(2)
			background: url('../image/icons/add-user.svg')
			background-size: 30px
			background-repeat: no-repeat
			background-position: center
			margin-bottom: 30px
		
		&:nth-child(3)
			background: url('../image/icons/outin.png')
			background-size: 30px
			background-repeat: no-repeat
			background-position: center
			margin-bottom: 30px

	&__root-link 
		@include flex(row, center, center)
		position: absolute
		top: 30px
		width: 54px
		height: 54px
		border: 1px solid $color_black
		border-radius: 100%
		color: $color_black
		font-size: 1.4em

.wrraper
	width: 100%
	max-width: 1100px

.header
	@include flex(row, center, center)
	width: 100%
	height: 70px
	position: fixed
	z-index: 10000
	background: $color_main1

	&__search-input
		border: 0
		padding: 5px 15px
		font-size: 1.1em
		box-shadow: 0px 0px 11px 2px rgba(0, 0, 0, .5)
		border-radius: 100px
		user-select: text

	&__search-block
		@include flex(row, center, center)
		position: relative
		margin-right: 10px

	&__push-search-button
		position: absolute
		right: 15px
		top: 50%
		transform: translateY(-50%)
		border: 0
		background: url('../image/icons/search.svg') no-repeat
		background-size: cover 
		background-position: center 
		width: 24px
		height: 24px

	&__functional
		@include flex(flex, flex-start, center)

		* 
			margin: 0 5px

		& a:first-of-type
			margin-right: 25px

		a 
			@include flex(flex, center, center)
			color: $color_white
			border: 1px solid $color-white
			border-radius: 100%
			width: 54px
			height: 54px
			font-size: 1.4em

		button
			width: 32px
			height: 32px
			border: 0
		
	&__sort-button
		background-image: url('../image/icons/sort-down.png')
		background-repeat: no-repeat
		background-size: 30px
		background-position: center !important
		border: 0
		background-color: transparent


.form-input
	transition: 0s

	&__regestration
		transition: 0s 
		@include flex(column, center, center)
		background: $h-color1
		border-radius: 15px
		width: 450px
		height: 470px
	

		input
			margin: 15px 0
			border-radius: 7px
			background: $h-color3
			box-shadow: 0px 0px 15px rgba(0, 0, 0, .3)
			border: 0
			padding: 10px
			width: 80%
			user-select: text
			
			&:focus
				background: rgba($h_color2, .5)
				transform: scale(1.05)

		button
			padding: 10px 40px
			border: 0
			color: $color-white
			font-size: 1.1em
			border-radius: 5px
			background: $h-color1
			color: $color_main1
			border: 1px solid $color_main1
			margin-top: 30px 

			&:hover 
				background: $color_main1
				color: $color-white
				border-color: transparent

			&:focus
				background: $color_main1
				color: $color-white
				border-color: transparent

		a
			margin-top: 15px
			color: $color_main1
			font-size: 16.5px

.load-screen
	@include flex(row, center, center)
	z-index: 1000000
	background: $h-color1
	width: 100%
	height: 100vh
	position: absolute

	img 
		width: 64px

.menu 
	@include flex(row, flex-start, center)
	position: absolute
	height: 100%
	z-index: 1000

.errorlist 
	@include flex(row, flex-start, center)
	width: 80%
	padding: 0
	margin: 0
	list-style-type: none
	word-wrap: 

	li 
		width: inherit
		color: $h_color4
		text-shadow: 0px 0px 0px rgba(0, 0, 0, .3)
		word-wrap: break-word

.container 
	@include flex(column, center, center)
	width: 100%
	height: 100vh
	overflow: hidden

	&__error 
		@include flex(column, center, center)

		span:first-child 
			font-size: 100px
			letter-spacing: 11px
			color: $color_main1
			text-shadow: 2px 2px 0px rgba(0, 0, 0, 1)

		span:last-child
			font-size: 35px
			letter-spacing: 10px
			color: $color_main1
			text-shadow: 1px 0px 0px rgba(0, 0, 0, 1)

.message 
	@include flex(column, center, center)
	width: 100%
	height: 100vh
	background-color: $color_main1

	span 
		color: $color_white
		font-size: 40px
		margin-bottom: 40px

	a
		@include flex(row, center, center)
		color: $color_white
		border: 1px solid $color_white
		border-radius: 100%
		width: 54px
		height: 54px
		font-size: 18px
		margin-bottom: -40px

// Media response

@media all and (max-width: 1000px)
	.page
		&__text
			font-size: 7em

		&__aside-menu
			font-size: 2.6em

			a
				height: 150px

		&__post-list
			justify-content: center !important

		&__counter-posts
			position: relative
			padding-top: 45px
			font-size: 2.5em 

		&__post-block
			@include flex(column, flex-start, flex-start)
			width: 400px
			height: 350px
			margin: 0 10px
			margin-bottom: 15px
			overflow: hidden
			border-bottom: 2px solid $color_main1

			&:hover .page__animate-image .page__post-block-background
				transform: scale(1)
	
			&:hover
				border-color: $color_black

			div
				@include flex(column, flex-start, flex-start)
				z-index: 1000

			div:first-child
				width: inherit
				height: 250px
				overflow: hidden
			
				div
					position: relative

				img 
					width: 100%
					height: 100%

			div:last-child
				a, span:last-child
					paddiform-input__regestration_scale-bng-top: 5px

				a:first-child
					font-size: 1.3em
					border-bottom: 2px solid $color_black

				span
					color: $color_black

				span:last-child
					font-size: 1.2em

		&__navigation-reg
			transform: scale(2.5)
			margin-top: 315px
	
		&__out-index-page
			margin-bottom: 345px
			transform: scale(2.5)

		&__article-panel

			& > div
				margin: 0 30px !important
				
				span:not([class$="index"])
					font-size: 1.6em

			& > div:first-child

				div
					

	.sidebar
		width: 200px 

		&__button
			width: 114px
			height: 114px
			background-size: 74px !important
			background-repeat: no-repeat !important
			background-position: center !important

		&__root-link
			width: 114px 
			height: 114px
			font-size: 3em

	.page__aside-content_toggle-on
		width: 780px !important


	.header
		height: 105px

		&__search-input
			font-size: 2.1em

		&__search-block
			margin-right: 30px 

		&__push-search-button
			width: 44px
			height: 44px

		&__functional
			margin-left: 30px

			& a:first-of-type
				margin-right: 40px !important

			a
				width: 84px
				height: 84px
				font-size: 2.6em

			button
				width: 52px
				height: 52px
				border: 0

		&__sort-button
			background-size: 52px
			background-position: center

		&__sort-button-top
			background-size: 52px !important


	.form-input
		transform: scale(1.45) 
		&__regestration 
			transform: scale(1.45)

	.form-input__regestration_scale-b 
		transform: scale(1.60) !important